.u {
    background-color: white;
}

.l {
    background-color: orange;
}

.f {
    background-color: green;
}

.r {
    background-color: red;
}

.b {
    background-color: blue;
}

.d {
    background-color: yellow;
}

.buf_piece {
    background-color: magenta;
}

.buf_target {
    background-color: blueviolet;
}

.borderless {
    border: none;
}
