body {
    background-color: #B00B69;
    margin: 0;
}

ul.nav {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

ul.nav li {
    display: inline;
}

ul.nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}

ul.nav li a:hover:not(.active) {
    background-color: #111;
}

ul.nav li a.active {
    background-color: purple;
}

ul.nav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.nav li.right
    ul.nav li {
	float: none;
    }
}

div, table {
    margin: 1em;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
    text-align: left;
}

a {
    color: black;
    font-weight: bold;
}

form {
    padding: 1em 0;
    margin: 1em 0;
}

input[type=text], input[type=date] {
    display: inline-block;
    width: 100%;
    padding: 1em 0;
    margin: 1em 0;
}

label {
    font-size: 1.5em;
}

[type=submit] {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: green;
    padding: 1em 0;
    margin: 1em 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

[type=submit]:hover {
    background-color: lime;
}

td table {
  margin: 0;
}
