body
{
    background-color: #B00B69;
    font-size: 30px;
}

ul
{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li
{
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child
{
    border-right: none;
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover
{
    background-color: #111;
}

.wrapper
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.wrapper > div:first-child
{
    margin-right: 15px;
}

.wrapper img
{
    margin: 4px;
    display: block;
    max-width: 100%;
}

.gentoo-logo
{
    height: 25%;
    width: 25%;
}

.solves
{
    display: flexbox;
}

.solve
{
    background-color: rgb(161, 20, 255);
    color: lightcoral;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    float: left;
}

.solve h4
{
    color: rgb(235, 90, 90);
}