body
{
    padding: 1em;
    background-color: #B00B69;
    font-size: 30px;
    color: #ee0cb5;
}



/* navigation */

/* main */
nav ul
{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li
{
    float: left;
    border-right: 1px solid #bbb;
}

nav li:last-child
{
    border-right: none;
}

nav li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover
{
    background-color: #111;
}

/* secondary */
secondary
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

secondary nav ul
{
    background-color: cornflowerblue;
}

secondary nav li
{
    padding: 1em;
}

secondary nav li a
{
    font-size: 2em;
    color: blueviolet;
}

secondary nav li a:hover
{
    background-color: deepskyblue;
}



.wrapper
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.wrapper > div:first-child
{
    margin-right: 15px;
}

.wrapper img
{
    margin: 4px;
    display: block;
    max-width: 100%;
}

.gentoo-logo
{
    height: 25%;
    width: 25%;
}

.solves
{
    display: flexbox;
}

.solve
{
    background-color: rgb(161, 20, 255);
    color: salmon;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    float: left;
}

/*
.solve img
{
    height: 300px;
    width: auto;
}*/



section
{
    margin: 2em;
    padding: 2em;
}

/* Collapsible content thanks to https://www.w3schools.com/howto/howto_js_collapsible.asp */
.collapsible
{
    background-color: crimson;
    color: darksalmon;
    cursor: pointer;
    padding: 2em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 0.5em;
}

.active, .collapsible:hover
{
    background-color: purple;
}

.content
{
    padding: 0 2em;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
